---
import { Card, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'

const headings = [
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'certifications', text: 'Certifications' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings}>
  <p>Student / Developer / Cybersecurity Enthusiast</p>
  <p>Hi, I'm Nahil Rasheed.</p>
  <p>
    I'm deeply interested in cybersecurity, technology, and computer science, and I spend a lot of
    my time learning, experimenting, and documenting my journey. I enjoy working on projects that
    involve security testing, programming, and problem-solving, and I use this space to share my
    notes, ideas, and experiments. My goal is to keep growing in the field while also making
    knowledge accessible for others who share the same curiosity.
  </p>
  <p>
    My motto: Knowledge is power. <Spoiler>Hack the planet!</Spoiler>
  </p>

  <h2 id='education'>Education</h2>
  <Card
    as='a'
    heading='Indian Institute of Information Technology Kottayam'
    subheading='B.Tech in Computer Science with Specialization in Cybersecurity'
    date='2023 - Present'
  />

  <h2 id='certifications'>Certifications</h2>
  <Card
    as='a'
    heading='Cisco Ethical Hacker'
    subheading=''
    date='July 2025'
    href='https://www.credly.com/badges/f806a313-6c62-4810-b196-eecc93dcb6a8/'
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/nahilrasheed',
        text: 'followers',
        api: 'github/nahilrasheed'
      },
      {
        platform: 'LinkedIn',
        icon: 'linkedin' as 'github',
        link: 'https://www.linkedin.com/in/nahil-rasheed',
        text: 'connections'
      },
      {
        platform: 'Twitter',
        icon: 'x',
        link: 'https://x.com/nahilrasheed',
        text: 'followers',
        api: 'x/nahilrasheed'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About this website</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2024',
        content: 'Started writing blogs on a simple jekyll site'
      },
      {
        date: '2024',
        content:
          'Started accumulating knowledge in cybersecurity and technology into my obsidian vault'
      },
      {
        date: '2025',
        content: 'Published this website'
      }
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'></a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Cloudflare</a>
    </li>
    <li>
      CI/CD: <a href='https://github.com/features/actions' target='_blank'>GitHub Actions</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
